* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    background: #222;
  }
  html {
    overflow-x: hidden;
  }
  
  .header {
    position: fixed;
    width: 100%;
    padding: 40px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(3px);
    z-index: 999;
  }
  
  .header .logo {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-shadow: 6px 6px 6px black;
  }
  
  .header .logo span {
    font-size: 30px;
    font-weight: 700;
    color: #cfd3db;
  }
  
  .nav .nav-item {
    display: flex;
    gap: 48px;
    list-style: none;
  }
  
  .nav .nav-item a {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    filter: drop-shadow(4px 2px 2px white);
    padding-bottom: 10px;
    transition: all 0.3s;
  }
  
  .nav .nav-item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    color: black;
    background: black;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav .nav-item a:hover {
    color: crimson;
  }
  .nav .nav-item a:hover::before {
    width: 125%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .header .menu {
    display: none;
    background: transparent;
    cursor: pointer;
  }
  
  .header .icon .menu {
    width: 40px;
    height: 40px;
    color: black;
  }
  
  .header .icon .menu[name="close-outline"] {
    display: none;
  }
  
  /* ==============responsive code====== */
  
  @media (max-width: 980px) {
    .header .icon .menu {
      display: block;
      border: 3px solid black;
      color: black;
      z-index: 999;
    }
  
    .header {
      position: relative;
    }
  
    .nav {
      width: 100%;
      height: 100vh;
      background: lightblue;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      /* ===========transition======== */
      transform: translateX(100%);
      transition: all 0.5s linear;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .active .nav {
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  
    .active .icon .menu[name="close-outline"] {
      display: block;
    }
  
    .active .icon .menu[name="menu-outline"] {
      display: none;
    }
  }

  .product {
    top: 0;
    background: url("../img/banner1.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
    transition: 0.6s;
  }
  
  .product {
    padding: 40px 0px;
  }
  
  .product .max-width .product-c {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .product .max-width .img img {
    width: 30%;
    height: 30%;
    mix-blend-mode: darken;
    margin-left: 400px;
  }
  
  .product .product-c {
    padding-top: 50px;
  }
  
  .product .product-c .text-1 {
    color: #cfd3db;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    text-shadow: 3px 3px 3px black;
  }
  
  .product .product-c .text-2 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 3px 3px #cfd3db;
  }
  
  .product .product-c .text-2 span {
    color: crimson;
    font-size: 25px;
    font-weight: 500;
  }
  
  .section .social {
    text-align: center;
  }
  .section .social a {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px 10px;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    border-radius: 50%;
    border: 2px solid crimson;
    background-color: crimson;
  }
  
  .product .product-c .btn {
    margin-top: 20px;
    margin-left: 250px;
  }
  .product .product-c .btn a {
    color: #000;
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .product .product-c a:hover,
  section .social a:hover {
    color: #fff;
    background: none;
  }

/* =====================table section style===================== */
.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    min-width: 1000px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.table-title .btn-group {
    float: right;
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn span {
    float: left;
    margin-top: 2px;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

table.table tr th:first-child {
    width: 60px;
}

table.table tr th:last-child {
    width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}

table.table td a:hover {
    color: #2196F3;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #F44336;
}

table.table td i {
    font-size: 19px;
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
    